*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(135deg, rgba(255,27,107,1) 0%, rgba(69,202,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#calculator{
    width: 375px;
    background: rgba(0, 0, 0, 0.979);
    padding: 25px;
    border-radius: 20px;
    box-shadow: -2px 5px 13px 5px #000000eb;
}

#outputscreen{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    text-align: right;
    padding: 15px;
    font-size: 1.8rem;
    border: none;
    border-radius: 12px;
    background: #2d2d3a;
    color: #fff;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.5);
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button{
    padding: 18px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background: #49494e;
    color: #fff;
    transition: all 0.2 ease-in-out;
    box-shadow: 0px 1px 27px -6px rgba(16, 16, 255, 0.611);
}

button:hover{
    background: #3a3a4d;
    transform: translateY(-2px);
}

button:active{
    transform: scale(0.92);
}

#operator{
    color: orangered;
}

#eual-btn{
    background-color: orangered;
    grid-column: span 2;
}

#eual-btn:hover{
    background: rgba(255, 68, 0, 0.877);
}
